body{
	margin-left:20px;
	margin-right: 20px;
}
h1 {
	color: #006699;
	font-family: Arial, Helvetica, sans-serif;
}

h3 {
	font-style: italic;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.2;
}

.assignment_body {
	font-family: Arial, Helvetica, sans-serif;
}

.questions {
	padding:10px;
	border: 2px solid black;
	border-radius: 12px;
}

